Thumbs.db
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Dd]ebug*/
*.lib
*.sbr
obj/
_ReSharper*/
[Tt]est[Rr]esult*
d]ebug*/
*.lib
*.sbr
obj/
*.sdf
*.opensdf
*.ipch
nbproject
Makefile_nb
build
dist
.dep.inc
log.txt
log.csv
output
doc
ideal
design
parsetime
combinelog
combinelog2
extractelitists
extractmodel
rmsd
pdbqt2csv
time.csv
pipeline.cpp
*.tar.bz2
*.tgz
*.csv
*.xlsb
pdb
