Thumbs.db
*.obj
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Dd]ebug*/
*.lib
*.sbr
obj/
_ReSharper*/
[Tt]est[Rr]esult*
d]ebug*/
*.lib
*.sbr
obj/
*.sdf
*.opensdf
*.ipch
nbproject
Makefile_nb
build
dist
.dep.inc
log
log.txt
log.csv
output
doc
timing
testcases
verification
screening
hits
ideal
special
design
pipeline.cpp
DIH.png
examples/2ZD1/13_p0.362
examples/3KFN/CH4
